body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 255, .2);;
}

label {
    padding: 1rem 2rem;
}

.form-btns-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}